@import "_globals";

$form-field-width: 48rem;

app-retailer-edit-dialog {
    display: block;
}

.app-retailer-edit-dialog {

    h2 {
        font-weight: 100;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.6);
        margin-top: 0;
        margin-bottom: 2rem;
    }

    form {

        .app-retailer-edit-dialog__form-row {
            max-width: calc(#{$form-field-width} + var(--grid-gutter) * 2);
            width: 100%;
        }

        mat-form-field.mat-form-field {
            display: block;
            max-width: $form-field-width;
            width: 100%;
        }
    }

    .app-retailer-edit-dialog__actions {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        justify-content: flex-end;

        > button {
            margin-left: 8px;
        }
    }

    > mat-progress-bar {
        margin-bottom: -24px;
        margin-top: 24px;
        margin-left: -24px;
        width: calc(100% + 48px);
    }
}
