<form [formGroup]="form">

    <div class="app-retailer-registration-form__header o-grid o-grid--align-vertical-center o-grid--align-space-between">
        <h2 class="o-cell u-auto">Händler-Registrierung</h2>
        <div *ngIf="isFormStep" class="app-retailer-registration-form__progress o-cell u-auto">
            <span class="u-d-none u-d-inline-block@mobile">Schritt</span>
            {{ currentStepNumber }}/{{ formStepCount }}
        </div>
    </div>

    <mat-tab-group class="app-retailer-registration-form__steps"
                   [dynamicHeight]="true"
                   [(selectedIndex)]="currentStepIndex">
        <mat-tab *ngIf="getFormStep('account') as step" [label]="step.label">

            <h3>{{ step.label }}</h3>

            <div formGroupName="account">

                <mat-form-field *ngIf="getFormControl('account', 'email') as control"
                                appearance="outline">
                    <mat-label>E-Mail-Adresse *</mat-label>
                    <input matInput
                           formControlName="email"
                           [errorStateMatcher]="errorStateMatcher" />
                    <mat-error *ngIf="control.hasError('email') && !control.hasError('required')">
                        Bitte geben Sie eine gültige E-Mail-Adresse an
                    </mat-error>
                    <mat-error *ngIf="control.hasError('required')">
                        Bitte geben Sie eine E-Mail-Adresse an
                    </mat-error>
                </mat-form-field>

                <div *ngIf="getFormControl('account', 'dataUsageAccepted') as control" class="c-form-checkbox">
                    <mat-checkbox formControlName="dataUsageAccepted"
                                  color="primary">
                        Ich bin mit der Verwendung meiner Daten und der Datenschutzerklärung einverstanden *
                    </mat-checkbox>
                    <mat-error *ngIf="isErrorState(control) && control.hasError('required')">
                        Bitte akzeptieren Sie die Bedingungen
                    </mat-error>
                </div>

            </div>

        </mat-tab>
        <mat-tab *ngIf="getFormStep('basic') as step" [label]="step.label">

            <h3>{{ step.label }}</h3>

            <div formGroupName="basic">

                <mat-form-field *ngIf="getFormControl('basic', 'name') as control"
                                appearance="outline">
                    <mat-label>Name Ihres Einzelhandels *</mat-label>
                    <input matInput
                           formControlName="name"
                           [errorStateMatcher]="errorStateMatcher" />
                    <mat-error *ngIf="control.hasError('required')">
                        Pflichtfeld
                    </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="getFormControl('basic', 'branches') as control"
                                appearance="outline">
                    <mat-label>Welchem Branchenzweig würden Sie Ihren Laden zuordnen? *</mat-label>
                    <mat-select formControlName="branches"
                                multiple
                                [errorStateMatcher]="errorStateMatcher">
                        <mat-option *ngFor="let branch of branches" [value]="branch">{{ branch }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="control.hasError('required')">
                        Pflichtfeld
                    </mat-error>
                </mat-form-field>

                <div formGroupName="address">

                    <div class="app-retailer-registration-form__form-row o-grid">

                        <div class="o-cell u-3/4">

                            <mat-form-field *ngIf="getFormControl('basic', 'address', 'street') as control"
                                            appearance="outline">
                                <mat-label>Straße *</mat-label>
                                <input matInput
                                       formControlName="street"
                                       [errorStateMatcher]="errorStateMatcher" />
                                <mat-error *ngIf="control.hasError('required')">
                                    Pflichtfeld
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="o-cell u-1/4">

                            <mat-form-field *ngIf="getFormControl('basic', 'address', 'houseNumber') as control"
                                            appearance="outline">
                                <mat-label>Hausnr. *</mat-label>
                                <input matInput
                                       formControlName="houseNumber"
                                       [errorStateMatcher]="errorStateMatcher" />
                                <mat-error *ngIf="control.hasError('required')">
                                    Pflichtfeld
                                </mat-error>
                            </mat-form-field>

                        </div>

                    </div>

                    <div class="app-retailer-registration-form__form-row o-grid">

                        <div class="o-cell u-1/4">

                            <mat-form-field *ngIf="getFormControl('basic', 'address', 'zip') as control"
                                            appearance="outline">
                                <mat-label>PLZ *</mat-label>
                                <input matInput
                                       formControlName="zip"
                                       [errorStateMatcher]="errorStateMatcher" />
                                <mat-error *ngIf="control.hasError('required')">
                                    Pflichtfeld
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="o-cell u-3/4">

                            <mat-form-field *ngIf="getFormControl('basic', 'address', 'city') as control"
                                            appearance="outline">
                                <mat-label>Ort *</mat-label>
                                <input matInput
                                       formControlName="city"
                                       [errorStateMatcher]="errorStateMatcher" />
                                <mat-error *ngIf="control.hasError('required')">
                                    Pflichtfeld
                                </mat-error>
                            </mat-form-field>

                        </div>

                    </div>

                </div>

            </div>

        </mat-tab>
        <mat-tab *ngIf="getFormStep('contact') as step" [label]="step.label">

            <h3>{{ step.label }}</h3>

            <div formGroupName="contact">

                <mat-form-field appearance="outline">
                    <mat-label>E-Mail-Adresse</mat-label>
                    <input matInput formControlName="email" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Festnetznummer</mat-label>
                    <input matInput formControlName="phone" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mobil</mat-label>
                    <input matInput formControlName="mobilePhone" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>WhatsApp (Telefonnummer)</mat-label>
                    <input matInput formControlName="whatsapp" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Webseite (Link)</mat-label>
                    <input matInput formControlName="website" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Facebook (Link)</mat-label>
                    <input matInput formControlName="facebook" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Instagram (Link)</mat-label>
                    <input matInput formControlName="instagram" />
                </mat-form-field>

            </div>

        </mat-tab>
        <mat-tab *ngIf="getFormStep('products') as step" [label]="step.label">

            <h3>{{ step.label }}</h3>

            <div formGroupName="products">

                <mat-form-field appearance="outline">
                    <mat-label>Erzählen Sie uns von Ihrem Geschäft</mat-label>
                    <textarea matInput
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="3"
                              formControlName="businessDescription"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Beschreiben Sie Ihr Sortiment</mat-label>
                    <textarea matInput
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="3"
                              formControlName="productsDescription"
                              placeholder="Welche Produkte bieten Sie an?"></textarea>
                </mat-form-field>

            </div>

        </mat-tab>
        <mat-tab *ngIf="getFormStep('order') as step" [label]="step.label">

            <h3>{{ step.label }}</h3>

            <div formGroupName="order">

                <mat-form-field appearance="outline">
                    <mat-label>Wie soll die Bestellung bei Ihnen eingehen?</mat-label>
                    <mat-select formControlName="contactOptions" multiple>
                        <mat-option *ngFor="let option of contactOptions" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Wie kann ich bei Ihnen bezahlen?</mat-label>
                    <mat-select formControlName="paymentOptions" multiple>
                        <mat-option *ngFor="let option of paymentOptions" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Wie weit können Sie liefern?</mat-label>
                    <mat-select formControlName="deliveryOptions" multiple>
                        <mat-option *ngFor="let option of deliveryOptions" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

        </mat-tab>
        <mat-tab label="Angaben prüfen">

            <h3>Überprüfen Sie Ihre Angaben</h3>

            <div class="app-retailer-registration-form__confirmation">

                <ng-container *ngIf="getFormStep('account') as step">

                    <div class="confirmation__header o-grid o-grid--align-vertical-center">
                        <h4 class="o-cell u-auto">{{ step.label }}</h4>
                        <button class="confirmation__edit o-cell u-auto" mat-icon-button color="primary" aria-label="Bearbeiten" (click)="showFormStep(step.key)">
                            <mat-icon [inline]="true">create</mat-icon>
                        </button>
                    </div>

                    <table>
                        <tr *ngIf="getFormControl('account', 'email') as control">
                            <th>E-Mail-Adresse</th>
                            <td>{{ control.value }}</td>
                        </tr>
                    </table>

                </ng-container>

                <ng-container *ngIf="getFormStep('basic') as step">

                    <div class="confirmation__header o-grid o-grid--align-vertical-center">
                        <h4 class="o-cell u-auto">{{ step.label }}</h4>
                        <button class="confirmation__edit o-cell u-auto" mat-icon-button color="primary" aria-label="Bearbeiten" (click)="showFormStep(step.key)">
                            <mat-icon [inline]="true">create</mat-icon>
                        </button>
                    </div>

                    <table>
                        <tr *ngIf="getFormControl('basic', 'name') as control">
                            <th>Name</th>
                            <td>{{ control.value }}</td>
                        </tr>
                        <tr *ngIf="getFormControl('basic', 'branches') as control">
                            <th>Welchem Branchenzweig würden Sie Ihren Laden zuordnen?</th>
                            <td>
                                <ul>
                                    <li *ngFor="let item of control.value">{{ item }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr *ngIf="getFormGroup('basic', 'address') as control">
                            <th>Anschrift</th>
                            <td>
                                {{ control.value?.street }} {{ control.value?.houseNumber }}<br />
                                {{ control.value?.zip }} {{ control.value?.city }}
                            </td>
                        </tr>
                    </table>

                </ng-container>

                <ng-container *ngIf="getFormStep('contact') as step">

                    <div class="confirmation__header o-grid o-grid--align-vertical-center">
                        <h4 class="o-cell u-auto">{{ step.label }}</h4>
                        <button class="confirmation__edit o-cell u-auto" mat-icon-button color="primary" aria-label="Bearbeiten" (click)="showFormStep(step.key)">
                            <mat-icon [inline]="true">create</mat-icon>
                        </button>
                    </div>

                    <table>
                        <tr *ngIf="getFormControl('contact', 'email') as control">
                            <th>E-Mail-Adresse</th>
                            <td>{{ control.value }}</td>
                        </tr>
                        <tr *ngIf="getFormControl('contact', 'phone') as control">
                            <th>Festnetznummer</th>
                            <td>{{ control.value }}</td>
                        </tr>
                        <tr *ngIf="getFormControl('contact', 'mobilePhone') as control">
                            <th>Mobil</th>
                            <td>{{ control.value }}</td>
                        </tr>
                        <tr *ngIf="getFormControl('contact', 'whatsapp') as control">
                            <th>WhatsApp (Telefonnummer)</th>
                            <td>{{ control.value }}</td>
                        </tr>
                        <tr *ngIf="getFormControl('contact', 'website') as control">
                            <th>Webseite (Link)</th>
                            <td>{{ control.value }}</td>
                        </tr>
                        <tr *ngIf="getFormControl('contact', 'facebook') as control">
                            <th>Facebook (Link)</th>
                            <td>{{ control.value }}</td>
                        </tr>
                        <tr *ngIf="getFormControl('contact', 'instagram') as control">
                            <th>Instagram (Link)</th>
                            <td>{{ control.value }}</td>
                        </tr>
                    </table>

                </ng-container>

                <ng-container *ngIf="getFormStep('products') as step">

                    <div class="confirmation__header o-grid o-grid--align-vertical-center">
                        <h4 class="o-cell u-auto">{{ step.label }}</h4>
                        <button class="confirmation__edit o-cell u-auto" mat-icon-button color="primary" aria-label="Bearbeiten" (click)="showFormStep(step.key)">
                            <mat-icon [inline]="true">create</mat-icon>
                        </button>
                    </div>

                    <table>
                        <tr *ngIf="getFormControl('products', 'businessDescription') as control">
                            <th>Erzählen Sie uns von Ihrem Geschäft</th>
                            <td>{{ control.value }}</td>
                        </tr>
                        <tr *ngIf="getFormControl('products', 'productsDescription') as control">
                            <th>Beschreiben Sie Ihr Sortiment</th>
                            <td>{{ control.value }}</td>
                        </tr>
                    </table>

                </ng-container>

                <ng-container *ngIf="getFormStep('order') as step">

                    <div class="confirmation__header o-grid o-grid--align-vertical-center">
                        <h4 class="o-cell u-auto">{{ step.label }}</h4>
                        <button class="confirmation__edit o-cell u-auto" mat-icon-button color="primary" aria-label="Bearbeiten" (click)="showFormStep(step.key)">
                            <mat-icon [inline]="true">create</mat-icon>
                        </button>
                    </div>

                    <table>
                        <tr *ngIf="getFormControl('order', 'contactOptions') as control">
                            <th>Wie soll die Bestellung bei Ihnen eingehen?</th>
                            <td>
                                <ul>
                                    <li *ngFor="let item of control.value">{{ item }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr *ngIf="getFormControl('order', 'paymentOptions') as control">
                            <th>Wie kann ich bei Ihnen bezahlen?</th>
                            <td>
                                <ul>
                                    <li *ngFor="let item of control.value">{{ item }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr *ngIf="getFormControl('order', 'deliveryOptions') as control">
                            <th>Wie weit können Sie liefern?</th>
                            <td>
                                <ul>
                                    <li *ngFor="let item of control.value">{{ item }}</li>
                                </ul>
                            </td>
                        </tr>
                    </table>

                </ng-container>

            </div>

        </mat-tab>
    </mat-tab-group>

    <div class="app-retailer-registration-form__actions">
        <button *ngIf="hasPreviousStep" class="app-retailer-registration-form__previous" mat-button type="button" (click)="showPreviousStep()">Zurück</button>
        <ng-container *ngIf="hasNextStep; else submitButton">
            <button *ngIf="!nextStepIsConfirmation" class="app-retailer-registration-form__next"
                    mat-raised-button
                    color="primary"
                    (click)="showNextStep()">
                Weiter
            </button>
            <button *ngIf="isConfirmationStepEnabled"
                    class="app-retailer-registration-form__verify"
                    mat-raised-button color="primary"
                    (click)="showConfirmationStep()">
                Angaben prüfen
            </button>
        </ng-container>
        <ng-template #submitButton>
            <button class="app-retailer-registration-form__submit"
                    mat-raised-button color="primary"
                    (click)="submit()">
                Absenden
            </button>
        </ng-template>
        <div *ngIf="isFormStep" class="app-retailer-registration-form__hint">* Pflichtfelder</div>
    </div>

</form>
