$icomoon-font-family: "vrhood" !default;
$icomoon-font-path: "../assets/fonts" !default;

$vrhood-icon-plants: "\e900";
$vrhood-icon-clothes: "\e901";
$vrhood-icon-food: "\e902";
$vrhood-icon-help: "\e903";
$vrhood-icon-other: "\e904";
$vrhood-icon-interior: "\e905";
$vrhood-icon-health: "\e906";
$vrhood-icon-craft: "\e907";
$vrhood-icon-books: "\e908";

