$color-primary: #3ea798 !default;

$color-accent: #e9545e !default;
$color-accent-alt: #cea85c !default;

$color-error: #f44336 !default;

$color-text: #000000 !default;
$color-text-muted: #a5a5a5 !default;

$color-body-background: #ffffff !default;
