<div class="app-content-page__banner" *ngIf="(activeUser$ | async) as activeUser">
    <span class="banner__info">angemeldet als: {{ activeUser.email }}</span>
    <a mat-button class="banner__link" routerLink="/admin">zur Verwaltung
        <mat-icon>settings</mat-icon>
    </a>
    <button mat-button class="banner__link" (click)="logout()">Abmelden
        <mat-icon>exit_to_app</mat-icon>
    </button>
</div>

<mat-sidenav-container>

    <mat-sidenav-content>

        <div class="app-content-page__map placeholder">
            <app-map (retailerClick)="showRetailerInfo($event)" [activeRetailer]="activeRetailer$ | async" [selectedCategories]="selectedCategories"></app-map>
        </div>

        <router-outlet></router-outlet>


        <app-retailer-info *ngIf="(activeRetailer$ | async) as activeRetailer" [retailer]="activeRetailer"
                           class="app-content-page__retailer">
            <button mat-mini-fab appRetailerInfoCloseButton color="primary" (click)="hideRetailerInfo()"><mat-icon>close</mat-icon></button>
        </app-retailer-info>

        <div class="app-content-page__logo">
            <img src="../assets/images/vrhood-logo-white.svg"/>
        </div>

        <div class="app-content-page__categories placeholder">
            <app-category-list (selectedCategoriesChange)="onSelectedCategoriesChanged($event)"></app-category-list>
        </div>
    </mat-sidenav-content>


</mat-sidenav-container>
