@import '../scss/styles';

app-content-page {
    display: block;
}

.app-content-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .app-content-page__banner {
        align-items: center;
        background-color: $color-accent;
        color: white;
        display: flex;
        flex-direction: row;
        font-size: 12px;
        justify-content: center;
        padding: 4px;

        .banner__info {
            margin-right: 32px;
        }

        .banner__link {
            margin-left: 32px;
        }
    }

    .app-content-page__logo {
        background-color: $color-primary;
        padding: 24px 32px;
        position: absolute;
        top: 0;
        left: 0;

        > img {
            width: 200px;
        }
    }

    > mat-sidenav-container {
        height: 100%;

        .app-content-page__retailer {

        }

        .app-content-page__map {
            height: 100%;
            width: 100%;
        }

        .app-content-page__categories {
            height: 100%;
            width: 300px;
        }

        div.placeholder {
            align-items: center;
            border: 4px solid rgba(black, 0.2);
            color: rgba(black, 0.5);
            display: flex;
            font-size: 40px;
            justify-content: center;
        }
    }

}
