<ng-container [ngSwitch]="mode">
    <h2 *ngSwitchCase="'create'">Kategorie erstellen</h2>
    <h2 *ngSwitchCase="'edit'">Kategorie bearbeiten</h2>
    <h2 *ngSwitchCase="'delete'">Kategorie löschen</h2>
</ng-container>

<div *ngIf="mode === 'delete'">
    <p>Willst du diese Kategorie wirklich löschen?</p>

    <div class="app-category-edit-dialog__actions">
        <button mat-button mat-stroked-button type="button" [disabled]="isSaving" (click)="onCancel()">Abbrechen</button>
        <button mat-button mat-flat-button type="submit" color="warn" [disabled]="isSaving" (click)="onDelete()">Löschen</button>
    </div>
</div>

<form *ngIf="mode === 'create' || mode === 'edit'" [formGroup]="form" (submit)="onSubmit()">
    <div class="icon-preview">
        <mat-icon *ngIf="form.get('icon').value as icon; else noIconTemplate" style="color: {{form.get('color').value}}" [svgIcon]="icon | iconName"></mat-icon>
        <ng-template #noIconTemplate>Vorschau</ng-template>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Icon</mat-label>
        <input matInput type="text" formControlName="icon" [matAutocomplete]="iconNameAutoComplete">
    </mat-form-field>

    <mat-autocomplete #iconNameAutoComplete="matAutocomplete">
        <mat-option *ngFor="let icon of (filteredIcons$ | async)" [value]="icon">
            <mat-icon [svgIcon]="icon | iconName"></mat-icon>
            {{icon}}</mat-option>
    </mat-autocomplete>

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Farbe</mat-label>
        <input matInput type="text" formControlName="color">
    </mat-form-field>

    <div class="app-category-edit-dialog__actions">
        <button mat-button mat-stroked-button type="button" [disabled]="isSaving" (click)="onCancel()">Abbrechen</button>
        <button mat-button mat-flat-button type="submit" color="primary" [disabled]="isSaving">Speichern</button>
    </div>
</form>

<mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>
