mat-checkbox {

    .mat-checkbox-layout {

        .mat-checkbox-label {
            white-space: normal;
        }
    }
}

mat-chip {

    mat-icon {
        margin: 0 8px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &.app-chip-leading-icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            margin-left: 8px;
            font-size: 20px;
            border-radius: 0;
        }
    }
}
